<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
    <div class="d-flex justify-content-between align-items-center">
      <h2><%= new ? 'Создание новой записи' : 'Редактирование записи' %></h2>
      <a class="btn btn-dark btn-sm" href="/">Назад</a>
    </div>
    <% if defined? error_message %>
      <div class="alert alert-danger">
        <%= error_message %>
      </div>
    <% end %>
    <form method="post">
      <div class="form-group">
        <label>ФИО</label>
        <input
            type="text"
            class="form-control"
            name="full_name"
            placeholder="Введите ФИО"
            value="<%= record.full_name if defined? record %>"
            <%= new ? '' : 'readonly' %>>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-mobile"></i></span>
            </div>
            <input
                type="text"
                class="form-control"
                name="mobile"
                placeholder="Сотовый телефон"
                value="<%= record.mobile  if defined? record %>">
          </div>
        </div>
        <div class="col-md-6 col-xs-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-phone"></i></span>
            </div>
            <input
                type="text"
                class="form-control"
                name="phone"
                placeholder="Домашний телефон"
                value="<%= record.phone  if defined? record %>">
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Адрес</label>
        <input
            type="text"
            class="form-control"
            name="address"
            placeholder="Введите адрес"
            value="<%= record.address if defined? record %>">
      </div>
      <div class="form-group">
        <label>Статус</label>
        <input
            type="text"
            class="form-control"
            name="status"
            placeholder="Введите статус"
            value="<%= record.status  if defined? record %>"
            <%= new ? '' : 'readonly' %>>
      </div>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
  </div>
</div>
